# Compilados
target/
out/
*.class
*.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# Gradle
.gradle/
build/
gradle/
gradlew
gradlew.bat

# OS
.DS_Store
Thumbs.db